{% extends 'parent/base.html'%}
{% block title %}ticket form{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %} 
    <!-- {{ form.as_ul }} as_div , as_table , as_p -->
    <!-- _________________________________________________________________ -->

    <!-- {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    {% endfor %} -->
     <!-- ______________________________________________________________________ -->
      نام و نام خانوادگی:
    <input type="text" , name="name" required>
    <br>
    :ایمیل
    <input type="email" , name="email">
    <br>
    شماره تلفن:
    <input type="text" , name="phone" required maxlength="11">
    <br>
    متن:
    <textarea name="message"></textarea>
    <br>
    <select name="subject">
        <option value="پیشنهاد">پیشنهاد</option>
        <option value="انتقاد">انتقاد</option>
        <option value="گزارش">گزارش</option>
    </select>
    <br>   
    <input type="submit", value="ثبت">
</form>
{% endblock %} 