{% extends 'parent/base.html'%}
{% block title %}ticket form{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %} 
    <!-- {{ form.as_ul }} as_div , as_table , as_p -->
    <!-- _________________________________________________________________ -->

    <!-- {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    {% endfor %} -->
     <!-- ______________________________________________________________________ -->
      نام و نام خانوادگی:
    <input type="text" , name="name" required  {% if form.name.value %} value="{{ form.name.value }}" {% endif %} >
    <br>
    :ایمیل
    <input type="email" , name="email" {% if form.email.value %} value="{{ form.email.value }}" {% endif %} >
    <br>
    شماره تلفن:
    <input type="text" , name="phone" required maxlength="11" {% if form.phone.value %} value="{{ form.phone.value }}" {% endif %} >
    <br>
    متن:
    <textarea name="message">{% if form.message.value %}{{ form.message.value }}{% endif %} </textarea>
    <br>
    <select name="subject">
        <option value="پیشنهاد">پیشنهاد</option>
        <option value="انتقاد">انتقاد</option>
        <option value="گزارش">گزارش</option>
    </select>
    <br>   
    <input type="submit", value="ثبت">
</form>

{% if form.errors %}
    لطفا خطای زیر را اصلاح کنید
    <br>
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                {{ field.label }} : {{error}}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if form.non_field_errors %}
    {{form.non_field_errors}}
{% endif %}

{% endblock %} 