{% extends 'parent/base.html'%}
{% block title %}post list{% endblock %}
{% block content %}

{% if category %}
<h1><a href="{% url 'blog:post_list' %}"> لیست پست های {{ category }}</a></h1>
{% else %}
<h1><a href="{% url 'blog:post_list' %}">لیست پست ها</a></h1>
{% endif %}


<a href="{% url 'blog:post_list_category' 'تکنولوژی' %}">تکنولوژی</a> 
<br>
<a href="{% url 'blog:post_list_category' 'برنامه نویسی' %}">برنامه نویسی</a>
<br>
<a href="{% url 'blog:post_list_category' 'سایر' %}">سایر</a>

<ol style="--length: {{posts|length}}" role="list">
    {% for post in posts %}
        <li style="--i: {{forloop.counter}}">
        <h3>
            <!-- this change is for making canonical urls -->
            <!-- <a href="{% url 'blog:post_detail' post.id %}">{{post.title}}</a> --> 
            <a href="{{post.get_absolute_url}}">{{post.title}}</a>  
        </h3>
        <p>{{post.description | truncatewords:3}}</p>
        {% if post.images.first.title %} 
        <img src="{{post.images.first.image_file.url}}" alt="{{post.images.first.title}}">
        {% else %}
        <img src="{{post.images.first.image_file.url}} " alt="{{post.images.first.image_file.name}}">
        {% endif %}
        </li>
    {% endfor %} 
</ol>


{% include 'partials/pagination.html' with page=posts %}
{% endblock %} 