{% extends 'parent/base.html'%}
{% block title %}post list{% endblock %}
{% block content %}
    <h1>post list</h1>
<ol style="--length: {{posts|length}}" role="list">
    {% for post in posts %}
        <li style="--i: {{forloop.counter}}">
        <h3>
            <!-- this change is for making canonical urls -->
            <!-- <a href="{% url 'blog:post_detail' post.id %}">{{post.title}}</a> --> 
            <a href="{{post.get_absolute_url}}">{{post.title}}</a>  
        </h3>
        <p>{{post.description | truncatewords:3}}</p>
        </li>
    {% endfor %} 
</ol>
{% include 'partials/pagination.html' with page=page_obj %} 
{% endblock %} 